gym[all]>=0.26.1
jupyterlab
nbdev>=2.3.*
pre-commit
ipywidgets
moviepy
pygifsicle
aquirdturtle_collapsible_headings
plotly
matplotlib_inline
wheel
twine
fastdownload
watchdog[watchmedo]
graphviz
typing-extensions==4.1.1
spacy<4