gym[all]>=0.25.1
ray
metaflow
jupyterlab
nbdev>=2.2.8
ipywidgets
moviepy
pygifsicle
aquirdturtle_collapsible_headings
plotly
xeus-python
matplotlib_inline
rich[jupyter]
wheel
twine
fastdownload
watchdog[watchmedo]
graphviz