gymnasium[all]>=0.27.1
nbdev>=2.3.*
pre-commit
ipywidgets
moviepy
pygifsicle
aquirdturtle_collapsible_headings
plotly
matplotlib_inline
wheel
twine
fastdownload
watchdog[watchmedo]
graphviz
typing-extensions==4.3.0
spacy<4